<p>book-list works!</p>
<p>
  <button (click)="toggleCover()">Cover {{coverIsVisible ? 'aus' : 'ein'}}blenden</button>
</p>

<p>
  <input type="text" [(ngModel)]="filterValue" placeholder="Suche nach ..." />
</p>

@if (books.length ===0) {
<p>
  Leider gibt es noch keine Bücher.
  Bitte warten Sie, bis die Bücher geladen sind.
</p>
}

@if (books.length > 0) {
<p>
  Hier sind die Bücher gefiltert nach "{{filterValue}}":
</p>
<table>
  <tr>
    <td class="zelle">ISBN</td>
    <td class="zelle">Titel</td>
    <td class="zelle">Rating</td>
    <td class="zelle">Preis</td>
    <td class="zelle">Cover</td>
  </tr>
  @for (book of (books | bookFilter: filterValue); track book; let i = $index) {
  <tr style="height: 50px">
    <td class="zelle">{{i+1}}: {{book.isbn}}</td>
    <td class="zelle">{{book.title}}</td>
    <td class="zelle">{{book.rating}}</td>
    <td class="zelle" [ngStyle]="{'background-color' : book.price < 10 ? 'green' : 'red' }">
      {{book.price | currency:'EUR':'symbol':'1.2-2'}}</td>
    <td class="zelle"><img *ngIf="coverIsVisible" [src]="book.coverUrl" [style.width.px]="imageWidth"></td>
  </tr>
  }
</table>
}
